@import 'variables.less';

.navbar-fixed-top .navbar-collapse {
    
    background-color: #53878d;
    text-align: center;
    top: 0;
    width: 100%;
    
    li a { 
        color: white;
        text-decoration: none;
    }
    
    
    
    /*.container {
        
        ul {
            list-style-type: none;
        }
        
        li {
            display: inline-block;
            padding: 10px 12px;
        }

    }*/
     
}


.important-block .container {
    
    width: 75%;
    
     h1 {
        padding: 12px;
        text-align: center;
        font-family: sans-serif;
        border-bottom: 2px solid #53878d;
        border-top: 2px solid #afb0b1;
    }  
    
    p {
        
        
    }   
        
}
    
form {
    margin: 20px auto;
    padding: 40px;
    width: 75%;
    background-color: #91bac5;
    .border-radius;
    
    .btn {
    width: 100%;
}
}
.form-group { 
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    color: white;
}

.footer {
    border-top: 3px solid #53878d;
    text-align: center;
    width: 68%;
    margin: auto;
    
    
    li {
        display: inline-block;
        text-decoration: none;
    }
}

body {
    padding-top: 80px;
}

.name {
    text-align: center;
}

.important-block {
    
   
}