.navbar-fixed-top {
  background-color: #53878d;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-fixed-top .container ul {
  list-style-type: none;
}
.navbar-fixed-top .container li {
  display: inline-block;
  padding: 10px;
  text-align: center;
}
.navbar-fixed-top .container a {
  color: white;
  text-decoration: none;
}
.container h1 {
  padding: 12px;
  text-align: center;
  font-family: sans-serif;
  border-bottom: 2px solid #53878d;
  border-top: 2px solid #afb0b1;
}
.footer li a {
  display: inline-block;
  text-decoration: none;
}
body {
  padding-top: 70px;
}
.name {
  text-align: center;
}
