.navbar-fixed-top {
  background-color: #53878d;
  text-align: center;
  top: 0;
  width: 100%;
}
.navbar-fixed-top .container ul {
  list-style-type: none;
}
.navbar-fixed-top .container li {
  display: inline-block;
  padding: 10px 12px;
}
.navbar-fixed-top .container a {
  color: white;
  text-decoration: none;
}
.container {
  width: 75%;
}
.container h1 {
  padding: 12px;
  text-align: center;
  font-family: sans-serif;
  border-bottom: 2px solid #53878d;
  border-top: 2px solid #afb0b1;
}
form {
  margin: 20px auto;
  padding: 40px;
  width: 75%;
  background-color: #91bac5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
form .btn {
  width: 100%;
}
.form-group {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  color: white;
}
.footer {
  border-top: 3px solid #53878d;
  text-align: center;
  width: 68%;
  margin: auto;
}
.footer li {
  display: inline-block;
  text-decoration: none;
}
body {
  padding-top: 80px;
}
.name {
  text-align: center;
}
