.nav ul {
  list-style-type: none;
  margin: 0px;
  background-color: #53878d;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav li {
  display: inline-block;
  padding: 14px 16px;
}
.nav li a {
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;
}
.important-block h1 {
  padding: 12px;
  text-align: center;
  font-family: sans-serif;
  border-bottom: 2px solid #53878d;
  border-top: 2px solid #afb0b1;
}
.footer li a {
  display: inline-block;
  text-decoration: none;
}
